address,b,blockquote,body,caption,center,dd,dir,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,i,menu,p,span,strike,strong,td,th,u,ul,ol{
	font-family:arial,helvetica,sans-serif;
	color: #000000;
	font-size: 12pt;
}
h1 { font-size: 24pt; }
h2 { font-size: 20pt; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }
h5 { font-size: 12pt; }
a:link, a:visited { color: #2714B8; text-decoration: underline }
a:hover { color: #0061BD; }

.title {
	margin:24px 0;
}

.subtitle {
	margin:16px 0;
}

.categories li{
	margin:8px 0;
}

.link-group li{
	margin:4px 0;
}

a[target="_blank"]::after {
    content: "\f08e";
    font-family: FontAwesome;
    right: -2px;
    position: relative;
    font-size: 0.8em;
	padding-right: 2px;
}

.sr-only {
    position: absolute !important;
    clip-path: circle(0%);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    word-wrap: normal!important;
}

.sr-only:hover, .sr-only:active, .sr-only:focus {
    z-index: 100000;
    top: 5px;
    left: 5px;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    background-color: #F3E3D4;
    font-size: 12pt;
    font-weight: bold;
    line-height: normal;
    clip-path: circle(100%);
    padding: 8px;
}
